body,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: lightblue;
}

.folders-navbar {
  border-right: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.folders-navbar-button {
  background-color: #003cff;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.notes-search-bar {
  display: flex;
  min-width: 30%;
}

.search-input-wrapper {
  width: max-content;
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  border-radius: 30px;
}

.notes-search-bar-input:focus {
  outline: none;
  border: none;
}

.notes-search-bar-input {
  color: #333;
  height: 2rem;
  border: none;
  background-color: transparent;
}

.search-bar-submit {
  background-color: transparent;
  border: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar-input-settings {
  border: none;
  background: transparent;
}
