body,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #f1efec;
  --foreground-color: #d4c9be;

  --utlities-color: #123458;
  --brighter-utlities-color: #34567a;

  /* hamburger menu variables */
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

button {
  background: none;
  border: none;
}

.note-btn:hover {
  filter: invert(60%);
  cursor: pointer;
}

.note-btn.active {
  filter: invert(60%);
}

.container {
  width: 100dvw;
  display: grid;
  min-height: 100dvh;
  grid-template-columns: 20% 80%;
  overflow: hidden;
  position: relative;
}

.folders-navbar {
  background-color: var(--foreground-color);
  border-right: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 100%;
}

.hamburger-menu {
  display: none;
}

/* remember to set the colors right after the side menu shows up */

/* mobile view */
@media (max-width: 768px) {
  .container {
    display: flex;
  }

  .notes-container {
    flex: 1;
  }
  .folders-navbar {
    transition: translate var(--animation-timing);
    translate: -100%;
    position: absolute;
    z-index: 4;
    min-height: 100dvh;
    max-height: 100dvh;
    position: fixed;
    overflow-y: scroll;
    padding-bottom: 2rem;
  }
  .folders-navbar.active {
    translate: 0;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: fixed;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 999;
    cursor: pointer;
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: translate var(--animation-timing),
      rotate var(--animation-timing), opacity var(--animation-timing),
      width var(--animation-timing), background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
}

.create-button {
  color: white;
  font-family: Arial;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
  font-family: Helvetica;
  &.create-note-button {
    background-color: var(--utlities-color);
  }
  &.create-folder-btn {
    background-color: var(--brighter-utlities-color);
  }
}

.create-button:hover {
  cursor: pointer;
  filter: brightness(1.4);
}

.notes-search-form {
  min-width: 40%;
  margin-bottom: 0.5rem;
}

.notes-search-bar {
  display: flex;
}

.search-input-wrapper {
  width: max-content;
  display: flex;

  border: 1px solid #ddd;
  background-color: #fdfdfd;
  border-radius: 30px;
  width: 100%;
}

.notes-search-bar-input:focus {
  outline: none;
  border: none;
}

.notes-search-bar-input {
  color: #333;
  height: 2rem;
  border: none;
  background-color: transparent;
  width: 100%;
  padding: 0.3rem;
}

.search-bar-submit {
  background-color: transparent;
  border: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: var(--background-color);
}

.search-bar-input-settings {
  border: none;
  background: transparent;
}

.notes-wrapper {
  width: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.note {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  display: grid;
  grid-template-rows:
    20%
    70%
    10%;
  height: 250px;
  cursor: pointer;
  text-wrap: wrap; /* fix it  */
}

.note-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.note-header {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
}

.note-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  max-width: 100%;
}

.note-content {
  margin-bottom: 5px;
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  text-overflow: ellipsis;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.note-footer {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.note-delete-btn {
  text-align: right;
}

.note-color-picker {
  position: relative;
  z-index: 2;
}

.note-color-picker img {
  z-index: 1;
}

.note-colors-palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.3rem;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 0%;
  width: 200%;
  background: white;
  padding: 0.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 2;
}

.note-colors-palette.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.note-colors-palette-btn.active {
  filter: invert(60%);
}

.note-color-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.note-color-circle:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.note-editor {
  width: 50dvw;
  height: 50dvh;
  border-radius: 25px;
  border: none;
  display: none;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
}

.note-editor::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.note-editor-title {
  width: 100%;
  overflow-x: auto;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.note-editor-title:empty:before {
  content: attr(data-note-editor-title-placeholder);
  color: gray;
  pointer-events: none;
}

.note-editor-content {
  margin-top: 1rem;
  font-size: 1.2rem;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: wrap;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.note-editor-content:empty:before {
  content: attr(data-note-editor-content-placeholder);
  color: gray;
  pointer-events: none;
}

.note-editor-footer {
  display: flex;
  justify-content: space-between;
}

.note-editor-footer > *:nth-child(2n) {
  text-align: end;
}

.note-editor-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  margin: 0.5rem;
  cursor: pointer;
}

.note-editor-close-btn:hover img {
  filter: invert(80%);
}

.note-editor-content:focus,
.note-editor-title:focus {
  border: none;
  outline: none;
}

.folder-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: nowrap; /* keep everything in one line */
  gap: 0.5rem;
}

#all-notes header {
  padding-right: 0.5rem;
}

.folder-name-wrapper {
  display: flex;

  align-items: center;
  gap: 0.3rem;
}

.folder-name {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;

  min-width: 0;
}

.folder {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.folder.active header {
  background-color: var(--background-color);
  border-radius: 15px;
}

.folder-right-side {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  max-width: 100%;
}

.folder-content {
  display: flex;
  visibility: collapse;
  flex-direction: column;
  gap: 0.4rem;
  margin-left: 2.5rem;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: visibility 150ms ease-in-out, opacity 150ms ease-in-out,
    transform 150ms ease-in-out, position 1000ms ease-in-out;
}

.folder-content.active {
  visibility: visible;
  position: static;
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.folder-arrow {
  transform: rotate(0) translateY(10%);
  transition: transform 150ms ease-in-out;
}

.folder-arrow.active {
  transform: rotate(90deg) translateX(10%) translateY(0);
}

.folder-content > div {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Move code below closer to the note cause it's stuff in note */

.folder-select-dropdown {
  position: relative;
}

.folder-select-dropdown-menu {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  z-index: 4;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  max-height: 15rem;
  width: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
}

.folder-select-dropdown-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.note-folder-list,
.note-folder-list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-folder-li {
  border-bottom: solid 1px var(--foreground-color);
  padding: 0.25rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.note-folder-li:last-child {
  border-bottom: none;
}

.simple-scrollbar {
  scrollbar-width: thin;
}

.simple-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.simple-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
