body,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
}

.note-btn:hover {
  filter: invert(60%);
  cursor: pointer;
}

.container {
  min-height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: lightblue;
}

.folders-navbar {
  border-right: 1px solid #999;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.create-note-button {
  background-color: #003cff;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.create-note-button:hover {
  cursor: pointer;
  background-color: #006fff;
}

.notes-search-form {
  min-width: 40%;
  margin-bottom: 0.5rem;
}

.notes-search-bar {
  display: flex;
}

.search-input-wrapper {
  width: max-content;
  display: flex;

  border: 1px solid #ddd;
  background-color: #fdfdfd;
  border-radius: 30px;
  width: 100%;
}

.notes-search-bar-input:focus {
  outline: none;
  border: none;
}

.notes-search-bar-input {
  color: #333;
  height: 2rem;
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-bar-submit {
  background-color: transparent;
  border: none;
}

.notes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
  background-color: rebeccapurple;
}

.search-bar-input-settings {
  border: none;
  background: transparent;
}

.notes-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  background-color: #003cff;
}

.note {
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  display: grid;
  grid-template-rows:
    20%
    70%
    10%;
  height: 250px;
  cursor: pointer;
}

.note-btn {
  border: none;
  background: none;
  cursor: pointer;
}

.note-header {
  display: flex;

  width: 100%;

  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;
}

.note-content {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.note-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-between;
  align-items: center;
}

.note-delete-btn {
  text-align: right;
}

.note-color-picker {
  position: relative;
}

.note-colors-palette {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 0%;

  background: white;
  padding: 0.5rem;
  border-radius: 1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.note-color-picker:hover .note-colors-palette {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.note-color-picker:hover .note-colors-palette-btn {
  filter: invert(60%);
}

.note-color-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  margin: 0.3rem;
}

.note-color-circle:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.note-editor {
  width: 50%;
  height: 50%;
  border-radius: 25px;
  border: none;
  display: none;
  grid-template-rows:
    10%
    80%
    10%;
  position: relative;
}

.note-editor::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.note-editor-title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.note-editor-title:empty:before {
  content: attr(data-note-editor-title-placeholder);
  color: gray;
  pointer-events: none;
}

.note-editor-content {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.note-editor-content:empty:before {
  content: attr(data-note-editor-content-placeholder);
  color: gray;
  pointer-events: none;
}

.note-editor-footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.note-editor-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  margin: 0.5rem;
  cursor: pointer;
}

.note-editor-close-btn:hover img {
  filter: invert(80%);
}

.note-editor-content:focus,
.note-editor-title:focus {
  border: none;
  outline: none;
}

.folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
